*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  min-height: 100%;
}
ul{
  list-style: none;
  direction: rtl;
  text-align: left;
  display: inline-block;
}
li{
  margin: 0px;
}
ul li{
  display: inline-block;
  margin: 8px;
}
#io{
padding-top: 25px;
/*width: 551px;*/
}
main{
  text-align: center;
  width: 553px;
  margin: auto;
  transform: translateY(50%);
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding-bottom: 15px;
  border-radius: 10px 10px 10px 10px;
  animation: mymove 3s;
  position: relative;;
}
@keyframes mymove {
    from {left: 100px;}
    to {left: 200px;}
}
#controlpad{
  padding-top: 10px;
  display: inline-flex;
}
input{
  height: 38px;
  width: 90%;
  text-align: right;
  margin-bottom: 10px;
  border-radius: 5px 5px 5px 5px ;
}
button{
  width: 48px;
  height: 48px;
  margin:1px;
  background: #3362e1;
  color:#ffffff;
  border-color: black;
  border-radius: 5px 5px 5px 5px;
}
button:hover{
  background: #113392;
  box-shadow: 4px 3px 6px 1px #658af0;
}
#numbers{
  width: 220px;
  text-align: left;
}
#operators{
  text-align: right;
  width: 196px;
}
#clear{
  position: absolute;
  left: 217px;
  top: 345px;
}
